<div class="dashboard-navs" [class.active]="getCurrentRoute() !== 'device-prescription'">
  <img src="assets/logo/logo_hor_white_colour.svg" class="logo" />
  <div class="nav" *ngIf="getCurrentRoute() !== 'device-prescription'">
    <div class="nav-item" routerLink="/design-model" routerLinkActive="active">Design Model
    </div>
    <div class="nav-item" routerLink="/simulate-model" routerLinkActive="active">Simulate
      Model</div>
    <div class="nav-item" routerLink="/simulate-circuit" routerLinkActive="active">
      Simulate Circuit</div>
  </div>
</div>
<div class="main">
  <router-outlet #outlet="outlet"></router-outlet>
</div>